#prompt {
    text-align: center;
}

#choices, #gameState {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

ul {
    padding: 20px;
}

#selections {
    text-align: center;
    width: 600px;
    height: 30px;
}

#scores {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    margin: 20px;
}

#humanScoreContainer, #computerScoreContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
}